# IntelliJ IDEA and Gradle files #
/.idea/
/gradle/
.gradle/
*.iml
target/

*.class

# Back-end files #
/server/build/

# Package Files #
*.jar
*.war
*.ear

# Front-end files #
/client/.tmp/
/client/coverage/
/client/node_modules/
/client/dist/
.env

# Other files #
*.log
*.log.*


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
